@import "sphinx-book-theme.css";

.bd-search {
    flex-direction: column;
}

.classifier {
  margin-left: 0.8em;
  font-weight: normal;
}

.topbar, .topbar-contents, .topbar-main {
    height: 3em ;
}

/* Increase logo size */
.navbar-brand img {
    max-height: none;
    height: auto;
    width: 150%;
    max-width: 300px;
}
